div {
  padding-top: 1px;
  padding-bottom: 1px;
}

#elem-disp-div {
  border: 1px solid black;
  height: 50px;
  font-size: 1.8em;
  text-align: center;
}

#elem-disp{
  width: 70%;
}

body {
  padding: 10px;
}

#goeDisplay{
  width: 30%;
  float: right;
}

.delete{
  font-size: 1em;
  padding: 0em;
}

#tes-box, #pcs-box, #tss-box{
  font-size: 1.8em;
}

input[type="range"]{
  width: 75%;
}

h6{
  margin-top: 8px;
  margin-bottom: 0px;
}

p{
  margin-bottom: 8px;
}

hr{
  margin-bottom: 5px;
  margin-top: 5px;
}

.pcs {
  width: 20%;
}

.clearEntry, .addElement{
  margin-top: 14px;
}

#factor {
  font-weight: 500;
}
